#countdown {
    text-align: center;
  }
  
  #timer {
    display: flex;
    justify-content: center;
  }
  
  #timer div {
    margin: 0 10px;
  }
  
  #timer span {
    display: block;
    font-size: 24px;
  }